.container{
    width: 300px;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #f2f2f2;

}

form{
    display: grid;
}

button{
    background-color: green;
    height: 20px;
}

input.ng-invalid.ng-touched{
    border: red 1px solid;
}