<div class="container">
    <h1>here</h1>
    <h2>registration form</h2>
    <form [formGroup]="Gbasquare" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" placeholder="Your name..." formControlName="firstName">

    <label for="Last name">last Name</label>
    <input type="text" placeholder="Your last name..." formControlName="lastName">

    <label for="email">Email</label>
    <input type="text" placeholder="Your email..." formControlName="email">

    <label for="country">Country</label>
    <input type="text" placeholder="Your country..." formControlName="country">

    <div FormArrayName="skills">
        <ng-container *ngFor="let skills of Gbasquare.get('skills')['controls'];index as i">
            <input type="text" placeholder="add skills..." formControlName={{i}}>
        </ng-container>
        
    </div>
    <button>submit</button>
    </form>
    <div>
     <button (click)="onAddSkillls()">+ add skills</button>
    </div>

</div>
